container_commands:
  install_chrome:
    command: |
     if ! command -v google-chrome &> /dev/null; then
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
        sudo yum install ./google-chrome-stable_current_x86_64.rpm
      else
        echo "Chrome already exists. Skipping install."
      fi

  download_chromedriver:
    command: |
      if [ ! -f /home/chromedriver-linux64/chromedriver ]; then
         wget https://storage.googleapis.com/chrome-for-testing-public/128.0.6613.137/linux64/chromedriver-linux64.zip
         unzip chromedriver-linux64.zip
         sudo mv chromedriver-linux64 /home/
       else
         echo "Chromedriver already exists. Skipping download."
       fi

  cleanup:
    command: |
      rm -f chromedriver_linux64.zip
