files:
  "/etc/nginx/conf.d/elasticbeanstalk/timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_header_timeout 6000;
      client_body_timeout 6000;
      send_timeout 6000;
      keepalive_timeout 6000;
      proxy_read_timeout 6000;
      proxy_send_timeout 6000;

  "/etc/nginx/conf.d/elasticbeanstalk/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
