<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<div layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">캐릭터</h1>
    <p class="mb-4">크롤링된 캐릭터 정보</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Playable</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>role</th>
                        <th>enName</th>
                        <th>name</th>
                        <th>createdAt</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>role</th>
                        <th>enName</th>
                        <th>name</th>
                        <th>createdAt</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="playable : ${playables}">
                        <td th:text="${playable.role}"></td>
                        <td th:text="${playable.enName}"></td>
                        <td th:text="${playable.name}"></td>
                        <td th:text="${playable.createdAt}"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>

</html>